VITE_SUPABASE_URL=https://lponvuerfhczarmqkyak.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_Ygby3PmVu7p99ZjHe2oRLQ_c48JeIit
# Isi "true" jika login Google sudah diaktifkan di Supabase
VITE_GOOGLE_AUTH=false
